/.android
/.azure
/.azuredatastudio
/.bash_history
/.bito
/.cache
/.codeium
/.config
/.dotnet
/.emulator_console_auth_token
/.gitconfig
/.gradle
/.javacpp
/.librarymanager
/.m2
/.ms-ad
/.nuget
/.omnisharp
/.Origin
/.QtWebEngineProcess
/.sonarlint
/.templateengine
/.thumbnails
/.vscode
/3D Objects
/3Dgame1
/3Dproject
/AdventureTime3
/AndroidStudio
/AndroidStudioProjects
/ansel
/AppData
/Contacts
/Documents
/Downloads
/Favorites
/Herd
/IanConradiePortfolio.html
/IanPortfolio
/IntelGraphicsProfiles
/Links
/Music
/My project
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/Portfolio
/README.md
/Saved Games
/Searches
/source
/tileboard
/Videos
/Week7.2
/ZombieGame
/OneDrive
/Application Data
/Cookies
/NetHood
/My Documents
/PrintHood
/Recent
/Start Menu
/SendTo
/Templates
/Local Settings